baserom.us.z64
asm/
assets/
build/
expected/
nonmatchings/
#.vscode/
ctx.c
.ninja_log
.splache
build.ninja
permuter_settings.toml
undefined_syms_auto.txt
shadowoftheempire.d
shadowoftheempire.ld
undefined_funcs_auto.txt
__pycache__/